.wrapper {
    width:60%;
    height: auto;
    border-right: 1.5px solid darkgrey;
    border-bottom: 2px solid darkgrey;
    border-left: 1.5px solid darkgrey;
    margin:0 auto;
    

}


.gridguide {    
width:100%;
display:grid;
grid-template-columns: 1fr 1fr 1fr;
text-align: center;
padding-bottom: 5%;
padding-top: 5%;
background-color:white;


}

.gridguide a { 
    text-decoration:none;
    color:black;   
}

.gridguide div {
border: 2px solid darkgrey;
background-color:#D3D3D3;
width:70%;
margin: 0 auto;

}

h1 {
    border-top: 1.5px solid darkgrey;
    border-bottom: 1.5px solid darkgrey;
    margin-top:5%;
    margin-bottom:0; 
    padding: 2%;
    font-size:1.5em;
    background-color: #D3D3D3;
   
    
}

.gridguide p {
    font-size:1.2em;
     padding-left:2%;
     padding-right:2%;
}

.gridguide h2 {
     font-size: 1.6em;
     font-weight: normal;
     margin: 0 auto;
     padding-top:2%;
     padding-bottom:2%;

}

.gridguide img {
    border-top: 1.5px solid darkgrey;
    border-bottom: 1.5px solid darkgrey;
    width:99%;
    height: auto;
    margin-top:2%;
}


.fade:hover {
  opacity: 0.5;
}

.selection {
    text-align:center;
    background-color:grey;

}



.selection h2 {
    display:inline;
    position:absolute;
    
}

section ul li {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;

}

.selection ul li {
}

.selection img {
    width:10%;
}

.guides {
    background-color:lightgrey;
    border-top: 1.5px solid grey;
}

.guides div {
    display:grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color:lightgrey;
    padding-top:3%;
    overflow:hidden;
    height: 0px;
    transition: height 0.7s;
    

}

.guides div p {
     padding-top:3%;    
}

.guides img {
    width: 70%;
    padding-bottom:8%;
}


input {
  display: none;
  visibility: hidden;
}

label {
  display: block;
  padding: 0.5em;
  text-align: center;
  border-bottom: 1px solid #CCC;
  color: #666;
}
label:hover {
  color: #000;
}
label::before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 15px;
  content: "+";
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}


#toggle1:checked ~ .expand1 {
  height: 350px;
}
#toggle1:checked ~ label::before {
  content: "-";
}

#toggle2:checked ~ .expand2 {
  height: 350px;
}
#toggle2:checked ~ label::before {
  content: "-";
}

#toggle3:checked ~ .expand3 {
  height: 350px;
}
#toggle3:checked ~ label::before {
  content: "-";
}