.wrapper {
    width:800px;
    height: auto;
    border-right: 1.5px solid darkgrey;
    border-bottom: 2px solid darkgrey;
    border-left: 1.5px solid darkgrey;
    margin: 0 auto;
    

}


.gridguide {    
width:100%;
display:grid;
grid-template-columns: 1fr 1fr 1fr;
text-align: center;
padding-bottom: 5%;
padding-top: 5%;
background-color:white;


}

.gridguide a { 
    text-decoration:none;
    color:black;   
}

.gridguide div {
border: 2px solid darkgrey;
background-color:#D3D3D3;
width:70%;
margin: 0 auto;

}

h1 {
    border-top: 1.5px solid darkgrey;
    border-bottom: 1.5px solid darkgrey;
    margin-top:5%;
    margin-bottom:0; 
    padding: 2%;
    font-size:1.5em;
    background-color: #D3D3D3;
   
    
}

.gridguide p {
    font-size:1.1em;
     padding: 3%;
}

.gridguide h2 {
     font-size: 1.6em;
     font-weight: normal;
     margin: 0 auto;
     padding-top:2%;
     padding-bottom:2%;

}

.gridguide img {
    border-top: 1.5px solid darkgrey;
    border-bottom: 1.5px solid darkgrey;
    width:99%;
    height: auto;
    margin-top:2%;
}


.fade:hover {
  opacity: 0.5;
}

/* Menu-selector */

.selectionhide {
    
}

.selection {
     
    overflow:hidden;
    opacity:0;
    position:absolute;
    overflow:hidden;
}

.selectionshow {
    position:static;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    grid-template-rows:1fr 1fr;
    text-align:center;
    opacity:1;
    transition: 1s;



}

.selection h2:nth-child(1) {
    
    grid-column-start:1;
    grid-column-end:2;
    
}
.selection h2:nth-child(2) {
    
    grid-column-start:2;
    grid-column-end:3;
    
}
.selection h2:nth-child(3) {
    
    grid-column-start:3;
    grid-column-end:4;
    
}

.selection img:nth-child(4) {
    grid-column-start:1;
    grid-column-end:2;
    
}
.selection img:nth-child(5) {
    grid-column-start:2;
    grid-column-end:3;
    
}
.selection img:nth-child(6) {
    grid-column-start:3;
    grid-column-end:4;
    
}


.selection ul li {
}

.selection img {
    width:100%;
    margin-top:-40%;
    opacity:0.5;
    
}
.selection h2 {
height: 37%;
border-right:1px solid black;
}

.selection img:hover {
  opacity: 0.5;
}

.guides {
    background-color:lightgrey;
    border-top: 1.5px solid grey;
    display:none;
}

.guides label {
}

.guides div {
    display:grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color:#DEDEDE;
   
    border-bottom: 0.5px solid darkgrey;
    overflow:hidden;
    height: 0px;
    transition-timing-function: ease-out;
    transition: height 0.7s;
    
}

.guides div p {
     padding:25px;      
}

.guides img {
    width: 70%;
    padding-bottom:8%;
    padding-top:5%;
}


.guides img:active  {
    border:black;
}

.active1{
    box-shadow: 0px 12px 22px 1px #333;
    z-index:1;
    opacity:1 !important;
    transition:0.5s; 

}
.siblings{
    opacity:0.5;
}


input {
  display: none;
  visibility: hidden;
}

label {
  display: block;
  padding: 0.5em;
  text-align: center;
  border-bottom: 1px solid #CCC;
  color: #666;
}
label:hover {
  color: #000;
}
label::before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 15px;
  content: "+";
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}


/* IMAGES */

#toggle1:checked ~ .images1 {
  height: 350px;
}
#toggle1:checked ~ label::before {
  content: "-";
}

#toggle2:checked ~ .video1 {
  height: 350px;
}
#toggle2:checked ~ label::before {
  content: "-";
}

#toggle3:checked ~ .banners1 {
  height: 350px;
}
#toggle3:checked ~ label::before {
  content: "-";
}

/* SOCIAL MEDIA */

#toggle4:checked ~ .images2 {
  height: 350px;
}
#toggle4:checked ~ label::before {
  content: "-";
}
#toggle5:checked ~ .video2 {
  height: 350px;
}
#toggle5:checked ~ label::before {
  content: "-";
}
#toggle6:checked ~ .banners2 {
  height: 350px;
}
#toggle6:checked ~ label::before {
  content: "-";
}

/* WEBSHOP */

#toggle7:checked ~ .images3 {
  height: 350px;
}
#toggle7:checked ~ label::before {
  content: "-";
}
#toggle8:checked ~ .video3 {
  height: 350px;
}
#toggle8:checked ~ label::before {
  content: "-";
}
#toggle9:checked ~ .banners3 {
  height: 350px;
}
#toggle9:checked ~ label::before {
  content: "-";
}