body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
}

@font-face {
  font-family: myFirstFont;
  src: url(../fonts/GrundfosTheSansV2OT-2XL.otf);
}

@font-face {
  font-family: titleFont;
  src: url(../fonts/GrundfosTheSansV2OT-8XB.otf);
}

.myPumpsWrapper {
  position: relative;
  height: 100%;
  width: 800px;
  border: solid 1px lightgrey;
  background-color: white;
  padding: 60px 20px 40px 20px;
  margin-left: 50px;
}

.myPumpsWrapper .topbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border: solid 1px lightgrey;
  background-color: #DEDEDE;
}

.topbar h1 {
  color: #333333;
  font-family: myFirstFont;
  font-size: 20px;
  margin-left: 10px;
}

.productElement {
  height: 250px;
  width: 95%;
  margin-top: 20px;
  margin-left: 2.5%;
  border: solid 1px lightgrey;
  background-color: white;
}

.productElement .productbox {
  position: relative;
  float: left;
  height: 100%;
  width: 40%;
  border-right: solid 1px lightgrey;
}

.rightinfo {
  width: 50%;
  height: 70%;
  float: right;
  position: relative;
}

.leftimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 70%;
}

.bottominfo {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.btn {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 135px;
  padding: 10px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.replacepump {
  background-color: #11497b;
  color: white;
  font-size: 10px;
  cursor:pointer;
}

.removebtn {
  background-color: #F5F5F5;
  color: #333333;
  font-size: 10px;
  cursor:pointer;
}

.rightinfo h3 {
  font-family: myFirstFont;
  font-size: 23px;
  color: #333333;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.rightinfo p {
  font-family: myFirstFont;
  font-size: 14px;
  color: grey;
  margin: 0;
  position: absolute;
  top: 80%;
  left: 40%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.productElement .priceBox {
  position: relative;
  width: 30%;
  height: 100%;
  border-right: solid 1px lightgrey;
  float: left;
}

.productElement .topbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  background-color: #DEDEDE;
}

.topbar h4 {
  font-size: 10px;
  color: #333333;
  font-family: myFirstFont;
  padding-left: 15px;
}

.priceBox .leftinfo {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 50%;
}

.priceBox .amount {
  position: absolute;
  top: 50%;
  margin-top: 10px;
  width: 100%;
  height: 40px;
  text-align: center;
}

.leftinfo h3 {
  font-family: myFirstFont;
  font-size: 30px;
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;
}

.availablebox {
  margin-top: 10px;
  margin-left: 0%;
  width: 80%;
  height: 20px;
  background-color: #F5F5F5;
  text-align: left;
  font-family: myFirstFont;
}

.leftinfo h4 {
  font-family: myFirstFont;
  font-size: 25px;
  text-align: left;
  margin-left: 40px;
  margin-top: 10px;
}

.productElement .materialBox {
  position: relative;
  width: 30%;
  height: 100%;
  float: right;
  margin-left: -2px;
}

.materialBox .elementBox {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 65%;
  text-align: center;
}

.elementBox .elementobject {
  height: 50px;
  width: 50px;
  margin: 10px;
  display: inline-block;
  border: solid 1px lightgrey;
  background-color: #DEDEDE;
}

.viewmaterielbut {
  font-family: myFirstFont;
  background-color: #11497b;
  color: white;
  cursor:pointer;
}

.amountbut {
  width: 70px;
  height: 40px;
  background-color: #F5F5F5;
  cursor:pointer;
}

.ordernowbut {
  float: left;
  margin-top: -10px;
  margin-left: -10px;
  height: 40px;
  cursor:pointer;
}

.availableTrue {
  height: 40px;
  width: 40px;
  margin-top: -10px;
  margin-right: -10px;
  float: right;
  background-color: green;
}

.availableFalse {
  height: 40px;
  width: 40px;
  margin-top: -10px;
  margin-right: -10px;
  float: right;
  background-color: red;
}

.recommendedWrapper {
  position: relative;
  height: 280px;
  width: 800px;
  border: solid 1px lightgrey;
  background-color: white;
  padding: 60px 20px 40px 20px;
  margin-top: 10px;
}

.recommendedWrapper .topbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border: solid 1px lightgrey;
  background-color: #DEDEDE;
}

.recommendedWrapper .topbar h1 {
  color: #333333;
  font-family: myFirstFont;
  font-size: 20px;
  margin-left: 10px;
}



.recommendedObjects {
  position: relative;
  width: 250px;
  height: 250px;
  display: inline-block;
  margin: 15px 5px 5px 5px;
  border: solid 1px lightgrey;
}

.recommendedObjects .img {
  position: absolute;
  top: 50%;
  left: 0;
  width: 50%;
  height: 50%;
  margin-top: -25%;
}

.recommendedObjects .titles {
  position: absolute;
  top:0;
  right:0;
  width:50%;
  height:70%;
  text-align: center;
}

.titles h2 {
  margin-top: 40px;
  font-family: titleFont;
}

.titles p {
  font-family: myFirstFont;
  text-align: left;
  color: #333333;
  margin-left: 10px;
}

.recommendedObjects .buttons {
  position: absolute;
  bottom: 0;
  right:0;
  width:50%;
  height:30%;
  text-align: center;
}

.buttons .viewproduct {
  float:left;
  width: 80%;
  height: 30px;
  font-family: myFirstFont;
  background-color: #11497b;
  color: white;
  cursor:pointer;
  border: none;
}

.buttons .addpump {
  float:left;
  width: 90%;
  height: 30px;
  font-family: myFirstFont;
  background-color: #DEDEDE;
  color: #333333;
  cursor:pointer;
  border: none;
  margin-top: 5px;
}
