/* search result list */

.listresult {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border: solid #d0d0d0 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.listresultitem1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    height: 150px;
  }

.listresultitem15 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    height: 150px;
  }

.listresultitem2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    
    border-left: solid #d0d0d0 1px;
    
}

.listresultitem3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    
    text-align: center;
}

.listresultitem4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    
    text-align: center;
}

.listresultmaterialtypesection {
    margin-left: 0%;
}

.listresultmaterialtype {
    float: left;
    margin: 0%;
    margin-top: 25px;
    width: 65px;

}

.listresultimage {
    width: 130px;
    padding-left: 20px;
    padding-top: 20px;
}

.listresultmaterialtypeheader {
    font-size: 1em;
    background-color: #dfdfdf;
    width: 100%;
}

.listresultmaterialtypeicon {
    width: 40px;
    text-align: center;
}

.iconfalse {
    visibility: hidden;
}

.listresultmaterialtypetext {
    font-size: 10px;
    margin-top: 5px;
}

.listresultbutton {
    color: white;
    background-color: #00497d;
    border: 0px;
    width: 145px;
    font-size: 0.8em;
    padding: 10px; 
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 3px;  
    height: 35px;
    float: left;
    margin-right: 5px;
}

.listresultbutton22 {
    color: white;
    background-color: #00497d;
    width: 125px;
    height: 35px;
    margin-top: 20px;
    font-size: 0.7em;
    padding-top: 8px;
    float: left;
    border: 0px;
    margin: 2px;
}

.listresultbuttoniconpump {
    height: 30px;
    margin-top: -9px;
    margin-right: -6px;
    float: right;
    border: solid gray 1px;
}

.listresultproductname {
    margin-top: 10px;
    font-size: 25px;
}

.listresultproductnumber {
    margin-top: 10px;
    font-size: 15px;
}

.listresultproductupdate {
    margin-top: 20px;
    font-size: 15px;    
}

.listresultbuttonsection {
    text-align: center;
    width: 300px;
    float: left;
    margin-left: 50px;    
}

.listresultbuttonaddpump {
    width: 150px;
    background-color: #f5f5f6;
    height: 35px;
    margin-top: 20px;
    font-size: 0.7em;
    padding-top: 8px;
}

.listresultbuttonicon {
    width: 20px;
    margin-right: 20px;
    margin-left: 0px;
    padding-top: 5px;
}

.listresultmarketingcontent {
    padding: 7px;
}

.test {
    text-align: center;
}