/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}


/*-----------------CSS start------------------*/

nav ul {
  display: inline;
}

nav li {
  text-decoration: none;
}

#upper-header {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background-color: #11497b;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr;
}

#upper-header #logo {
  margin-left: 18%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
}

#upper-header #lang {
  grid-column-start: 6;
  grid-column-end: 7;
  color: white;
  opacity: 0.6;
  font-size: 14px;
  margin-left: 20%;
}

#upper-header ul {
  grid-column-start: 7;
  grid-column-end: 9;
}

#upper-header ul li {
  text-decoration: none;
  list-style-type: none;
  width: 50%;
  float: left;
  margin-left:0%;
}
#first {
  margin-right: -15%;
}

#upper-header ul li img {
  width: 12%;
  float: left;
}

#upper-header ul p {
  margin-top:2%;
  width: 55%;
  margin-left: 10%;
  color: white;
  opacity: 0.6;
  float: left;
  font-size: 14px;
}

#upper-header input {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 3;
  height: 70%;
  width: 50%;
  padding-left: 3%;
  margin: auto;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  background-color: #34648f;
}

#upper-header #search-icon {
  width: 13%;
  margin: auto auto auto 10%;
  height: 50%;
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 3;
}

nav ul li a {
  text-decoration: none;
  list-style-type: none;
  float: left;
  margin-left: 2%;
  color: black;
}
  nav {
    padding: 1% 5% 2%;
    border-bottom: 1px rgba(0,0,0,0.2) solid;
    background-color:rgba(0,0,0,0.1) ;
  }

/*------------------------table---------------*/
#table-search img, #table-search2 img, #table-search3 img, #table-search4 img, #table-search5 img, #table-search6 img, #table-search7 img, #table-search8 img, #table-search9 img  {
  width: 40%;
  margin-top: 15%;
}
#table-search {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
}
#table-search2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
}
#table-search3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
}
#table-search4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
}
#table-search5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
}
#table-search6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
}#table-search7 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
}
#table-search8 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
}
#table-search9 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
}
#search-table-wrapper {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2%;
  grid-row-gap: 30px;
  display: grid;
  width: 100%;
}
#search-table-wrapper section {
  width: 220px;
  height: 170px;
  border:1px rgba(0,0,0,0.2) solid;
}
