$corporate-blue: #11497b;

body {
    background-color: $corporate-blue;
}

nav {
 ul {
   display: inline;
 }
 li {
   text-decoration: none;
 }
}
#upper-header {

  img {
    width: 5%;
    float: right;
  }
  p {
    float: right;
  }
}
