$corporate-blue: #11497b;

body {
    background-color: $corporate-blue;
}

nav {
 ul {
   display: inline;
 }
 li {
   text-decoration: none;
 }
}

#upper-header {
background-color: $corporate-blue;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 2fr;
#logo {
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 2;
}
#lang {
  grid-column-start: 6;
  grid-column-end: 7;
  color: white;
}
  ul {
    opacity: 0.8;
    grid-column-start: 7;
    grid-column-end: 9;
     li {
       text-decoration: none;
       list-style-type: none;
       width: 45%;
       float: left;
       img {
         width: 15%;
         float: left;
       }
     }
    p {
      margin-top: -0.6%;
      width: 55%;
      margin-left: 2%;
      color: white;
      opacity: 0.8;
      float: left;
    }
  }
input {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 2;
}
#search-icon {
  width: 5%;
}
}
